extends ../shared/template
block content
  h2 Add an Address
  .row
    .col-xs-3
      form(method='post', action='/addresses')
        .form-group
          label(for='name') Name
          input.form-control#name(type='text', name='name', autofocus= true)
        .form-group
          label(for='color')
          input.form-control#color(type='color', name='color')
        button.btn.btn-success(type='submit') Add Person

block scripts


block scripts
